* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    outline: none;
}

body {
    background-color: #425067;
}

.background-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
        min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.logo-fundo {
    width: 250px;
    display: block;
    margin: 0 auto;

}

main {
    width: 375px;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 24px 23px;
    margin: 0 auto 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

.de {
   color: #58b467
}

.para {
    color: #18549d
}

select{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.convert1 {
    color: #58b467;
}

.currency-select {
    color: #18549d;
}

.input-currency::placeholder {
    opacity: 0.4;
}

button {
    width: 100% ;
    border-radius: 5px;
    background-color: #f68522;
    border: none;
    height: 48px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: solid 1px  #f68522;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px

}

#currency-name, .currency {
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}